# Terraform state files
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
.terraform/
.terraform.lock.hcl
terraform.tfvars

# Lambda zip artifact
lambda/lambda_function.zip

# AWS credentials
.aws/
credentials

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/

# VS Code
.vscode/

# Mac
.DS_Store

# Environment variables
.env
.env.local